.pagina404{
    background-image: url("../assets/baggio404.png");
    height: 562px;
}
.pagina404{
    h1{
        display: flex;
        margin-left: 1.25rem;
        padding: 1.875rem;
    }
}

.pagina404{
    p{
        display: flex;
        width: 18.75rem;
        margin-left: 1.25rem;
        padding-left: 1.875rem;
    }
}